/* 
    Importing fonts from https://fonts.google.com
    Use the following line to implement the font :
    
    font-family: 'Righteous', cursive;

*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*{
    user-select: none;
}

body{
    
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(26,17,19,1);
}

.links-card{
    width: 40vw;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-btn{
    margin: 20px 20px;
}

.card-footer{
    line-height: 2;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.5px;
}


/* Media Query for Responsive Website on Mobile */
@media only screen and (max-width: 1000px) {
    h1{
        font-size: 0.9em;
    }

    .links-card{
        width: 90vw;
    }

    .card-footer{
        width: auto;

    }
}
