/* 
    Importing fonts from https://fonts.google.com
    Use the following line to implement the font :
    
    font-family: 'Righteous', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
    user-select: none;
}

body {
    overflow: hidden;
}

.page {
    height: 90vh;
    overflow: auto;
}

.main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Righteous', sans-serif;
    color: rgba(26, 17, 19, 1);
}

.links-card {
    width: 40vw;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-btn {
    margin: 20px 20px;
}

.card-footer {
    line-height: 2;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.5px;
}


/* projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center
}

.projects .card {
    overflow: hidden;
    width: 350px;
    height: 450px;
    margin: 1em 3em;
    transition: all 0.2s
}

.project-image {
    height: 450px;
    background: url('https://avatars3.githubusercontent.com/u/50016807?v=4');
    background-size: contain;
    transition: all 0.1s ease-in;

    font-size: 1.5em;
    color: white;
    text-align: center;
}

.project-image p {
    transform: translateY(205px)
}

.projects .card:hover .project-info {
    transform: translateY(-250px)
}

.projects .card:hover .project-image {
    filter: blur(2px);
}

.project-info {
    height: 250px;
    transition: all 0.1s ease;
    background: rgb(38, 166, 154);
    background: linear-gradient(0deg, rgba(38, 166, 154, 1) 20%, rgba(0, 212, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    padding: 20% 5%;
    justify-content: center;
    align-items: center
}



.footer {
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: rgba(38, 166, 154, 1);
    color: white;
    font-weight: bolder;
    font-size: 1.1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links>a,
.footer>div>a {
    margin: 10px;
    color: inherit;
}



/* Media Query for Responsive Website on Mobile */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 0.9em;
    }

    .links-card {
        width: 90vw;
    }

    .card-footer {
        width: auto;
    }

    .footer {
        font-size: 0.65em;
    }
}