/* 
    Importing fonts from https://fonts.google.com
    Use the following line to implement the font :
    
    font-family: 'Righteous', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');

* {
    user-select: none;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d2e063;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #25384f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    overflow: hidden;
}

.page {
    height: 90vh;
    overflow: auto;
}

/* landing page starts */
.landing {
    height: 100%;
    display: grid;
    grid-template-rows: 0.8fr 1fr 1fr;
    background: url('/images/landing.png');
    background-size: cover;
    background-attachment: fixed
}

.main-heading {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 6em;
    text-align: center;
    font-weight: bolder;
    color: #d2e063;
    align-self: center
}

.main-sub-heading {
    font-family: 'Righteous', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-style: italic
}

.about-us {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    background: #d2e063
}

.about-us-image {
    background: url('/images/about-bg.png');
    /* background-attachment: fixed; */
    background-position-x: 800px;
    background-size: cover
}

.about-us-title {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 3.9em;
    text-align: left;
    font-weight: bolder;
    color: #25384f;
    align-self: flex-end;
    margin-left: 50px
}

.about-us .content {
    align-self: center
}

.about-us-content {
    width: 800px;
    color: #25384f;
    font-family: 'Righteous', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    margin-left: 50px
}

.contribute {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    background: white
}

.contribute-title {
    font-family: 'Ramabhadra',
        sans-serif;
    font-size: 3.9em;
    text-align: center;
    font-weight: bolder;
    color: #25384f;
    align-self: center;
    padding: 50px 0
}

.contribute-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.info-card {
    width: 300px;
    margin: 50px 50px;
    height: 400px;

}

.card-image {
    background: #d2e063;
    height: 180px;
    width: 180px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin: 20px auto;
    display: grid;
    justify-content: center;
    align-content: center
}

.card-image img {
    height: 64px;
}

.card-title {
    font-family: 'Ramabhadra',
        sans-serif;
    font-size: 1.5em;
    color: #25384f;
    font-weight: bolder;
    text-align: center
}

.card-content {
    font-family: 'Righteous',
        sans-serif;
    font-size: 1.1em;
    color: #25384f;
    text-align: center
}

.projects-page {
    background: #25384f;
    min-height: 800px;
    display: flex;
    flex-direction: column
}

.projects-title {
    font-family: 'Ramabhadra',
        sans-serif;
    font-size: 3.9em;
    text-align: center;
    font-weight: bolder;
    color: #d2e063;
    padding: 40px 0
}

#app {}

/* h5 {
    color: #d2e063;
    transform: translateY(30px);
    z-index: 988899;
} */





.join-us {
    background: #d2e063;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.join-us-content {
    width: 500px;
    margin-right: 100px;
    text-align: justify;
}

.text {
    transform: translateY(150px)
}

.join-us h2 {
    font-family: 'Righteous',
        sans-serif;
    color: #25384f
}

.join-us-content p {
    font-size: 1.5em;
    text-align: justify
}

.main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Righteous', sans-serif;
    color: #25384f
}

#links-card {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #25384f;
    transform: translateY(150px)
}


.link-btn {
    margin: 20px 20px;
}

.card-footer {
    line-height: 2;
    font-size: 1.1em;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #d2e063
}


/* projects */

.projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.projects .card {
    overflow: hidden;
    width: 350px;
    height: 450px;
    margin: 1em 3em;
    transition: all 0.2s
}

.project-image {
    height: 450px;
    background: url('https://avatars3.githubusercontent.com/u/50016807?v=4');
    background-size: contain;
    transition: all 0.1s ease-in;

    font-size: 1.5em;
    color: white;
    text-align: center;
}

.project-image p {
    transform: translateY(205px)
}

.projects .card:hover .project-info {
    transform: translateY(-250px)
}

.projects .card:hover .project-image {
    filter: blur(2px);
}

.project-info {
    height: 250px;
    transition: all 0.1s ease;
    background: #d2e063;
    background: linear-gradient(0deg, white 20%, rgba(0, 212, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: black;
    text-align: justify;
    padding: 20% 5%;
    justify-content: center;
    align-items: center
}




.footer {
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: #d2e063;
    color: #25384f;
    font-weight: bolder;
    font-size: 1.1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links>a,
.footer>div>a {
    margin: 10px;
    color: inherit;
}



/* Media Query for Responsive Website on Mobile */
@media only screen and (max-width: 1000px) {
    .page {
        height: 93vh
    }

    .main-heading {
        font-size: 3.2em
    }

    .main-sub-heading {
        font-size: 1.1em
    }

    .about-us {
        display: grid;
        grid-template-columns: none
    }

    .about-us-image {
        width: 0;
    }

    .about-us-title {
        font-size: 2.5em;
        margin: 0;
        text-align: center
    }

    .about-us-content {
        width: 300px;
        text-align: center;
        font-size: 1.5em;
        margin: 10px auto;
        line-height: 2
    }

    .contribute-title {
        font-size: 2.5em
    }

    .info-card {
        height: 250px;
    }

    .info-card:nth-child(3) {
        margin-bottom: 150px
    }

    .projects {
        margin-top: 0
    }

    .projects .card {
        height: 427px;
        width: 322px;
    }

    .projects-title {
        font-size: 2.5em
    }

    .join-us-content {
        width: auto;
        margin-right: 0;
    }

    .join-us-content p {
        width: 300px;
        font-size: 1.5em
    }

    .text {
        transform: none;
        text-align: center
    }

    h1 {
        font-size: 0.9em;
    }


    #links-card {
        width: 90vw;
        transform: none;
        margin-top: 20px
    }

    .card-footer {
        width: auto;
    }

    .footer {
        height: 7vh;
        font-size: 0.7em;
    }
}